<section class="banner">
  <div id="slider">
    <figure>
      <img src="../../assets/Company Image.PNG" class="banner-image">
      <img src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" class="banner-image">
      <img src="../../assets/clients/Team-Vikarsh-1024x512.jpg" class="banner-image">
      
    </figure>
  </div>
  <div class="covertext">
    <div class="col-lg-7">
      <h1 class="title-main">
        Vikarsh Nano
        <span style="color: #fff ;text-shadow: rgba(62,66,66,0.4) 0px 10px 24px;"> Technology & Alloys Pvt. Ltd.</span>
      </h1>
      <p class="subtitle">
        By continuous improvements we transform our knowledge, energy and
        experience of the generations into common success
      </p>
    </div>
  </div>
</section>

<!-- About us start -->
<section class="about-me" id="about-me">
 <app-about-home-content></app-about-home-content>
</section>
<br>
<!-- About us End -->
<!-- Product Details start -->
<section id="products">

  <app-raw-material></app-raw-material>
</section>


<app-contact></app-contact>