<div class="container-flude">
  <section class="body-container">
    <div
      id="myCarousel"
      class="carousel carousel-fade slide"
      data-ride="carousel"
      data-interval="3000"
    >
      <div class="carousel-inner" role="listbox">
        <div class="item active background a"></div>
        <div class="item background b"></div>
        <div class="item background c"></div>
      </div>
    </div>
    <div class="covertext">
      <div class="col-lg-10" style="float: none; margin: 0 auto">
        <h1 class="title animate__animated animate__bounceIn animate__infinite">
          Vikarsh Nano
          <span style="color: #fff"> Technology & Alloys Pvt. Ltd.</span>
        </h1>
        <p class="subtitle">
          By continuous improvements we transform our knowledge, energy and
          experience of the generations into common success
        </p>
      </div>
    </div>
  </section>
</div>
<div class="container-fluid">
  <!-- About us start -->

  <section class="about-me" id="about-me">
    <div class="container">
      <div class="about-me-container">
        <h2 class="about-me-title">About Us</h2>

        <div class="about-me-flex-container">
          <div class="about-me-image">
            <div class="back-div">
            
            </div>
            <div class="main-image">
              <img src="../../assets/Company Image.PNG" alt="smit" />
            </div>
          </div>
          <div class="about-me-content">
            <div class="text">
              <p>
                We
                <span class="orange">
                  "Vikarsh Nano Technology And Alloys Private Limited."
                </span>
                are among the leading Manufacturers, Exporters of high-quality
                and performance-oriented Nano crystalline ribbons and cores.
                These include CT cores, ELCB, RCCB, METERING cores & Blocks
                which can be made available in both standard and customized
                specifications. Established in the year 2013, at Pune,
                Maharashtra, over the years the company achieved considerable
                growth in output and customer base....
              </p><button href="" routerLink="about-Us" class="about-us-btn">Read More</button>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- About us End -->
<!-- Product Details start -->
<br />


 <!-- <app-raw-material></app-raw-material> -->


<app-contact></app-contact>

