img {
  max-width: 100%;
  height: auto;
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image within its container */
}

#slider {
  overflow: hidden;
}

@keyframes slider {
  0%, 100% {
    left: 0;
  }
  33%, 66% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}

#slider figure {
  width: 300%;
  position: relative;
  animation: 9s slider infinite;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#slider figure img {
  opacity: 0.5;
  width: 33.333333333%;
  height: 100%;
  float: left;
}

/* Add responsive styles for carousel items */
.item {
  width: 100%;
  height: auto; /* Change height to auto for responsive scaling */
  background-size: cover;
}

/* Add responsive styles for text */
.covertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.col-lg-7 {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.title-main {
  font-size: 2em;
  color: #50d4ac;
}

@media screen and (max-width: 768px) {
  .col-lg-7 {
    max-width: 100%;
    margin-top: 20px; /* Adjust margin-top for smaller screens */
  }

  .title-main {
    font-size: 1.5em;
  }
}