.car .btn-contact {
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: var(--current-color1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: 700;
}

.car .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#s1:checked ~ .cards #slide4,
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide5,
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);

  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide1,
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);

  transform: translate3d(0, 0, 0);
  --current-color1: #fad00c;
  --current-color2: #eceaed;
}

#s1:checked ~ .cards #slide2,
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

#s1:checked ~ .cards #slide3,
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);

  transform: translate3d(70%, 0, -220px);
  --current-color1: #eceaed;
  --current-color2: #404457;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(35%, 0, -120px);
  }
  100% {
    transform: translate3d(-70%, 0, -220px);
  }
}

/* section 2 manufacturers */
.manufacturers {
  width: 100%;
  background-image: linear-gradient(45deg, #a2cabd, #50d4ac);
  color: #fff;
  padding: 100px;
  text-align: center;
  margin-top: 9px;
}

p {
  padding: 10px;
  margin-top: 9px;
  font-size: 20px;
}

.card-meanu {
  margin: 30px 20px;
}
/* section3  */
.TRANSFORMER {
  margin: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.TRANSFORMER .nameheader {
  margin: auto;
  font-size: 34px;
  font-weight: bold;
}
.btn {
  background-image: linear-gradient(45deg, #045ab0, #375e69);
  padding: 10px 30px;
  color: #fff;
  transition: 2s;
}
.btn:hover {
  box-shadow: 8px 0px 9px rgb(253, 253, 153);
}

@media only screen and (max-width: 480px) {
  .cards {
    width: 15%;
    margin-left: -4px;
  }
  .secound {
    width: 100%;
  }
  .secound p {
    margin-top: -90px;
    font-size: 15px;
  }
  .manufacturers {
    width: 100%;
  }
  .get {
    position: absolute;
    color: #fff;
    margin-top: 30px;
    margin-left: -20px;
    font-weight: bold;
    font-size: 20px;
  }
}
/**************************** banner start****************** */
.container-fluid.main {
  position: relative;
  padding: 0;
}

.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width: 991px) {
  .carousel .background {
    background-size: cover;
  }
}

/* Adjust height for smaller screens */
@media (max-width: 767px) {
  .carousel .background {
    height: 400px; /* Adjust the height as needed for smaller screens */
  }

  .covertext {
    top: 100px; /* Adjust the distance from the top for smaller screens */
  }

  .title {
    font-size: 28px; /* Adjust font size for smaller screens */
  }

  .subtitle {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .explore .btn-lg {
    padding: 12px 20px; /* Adjust button padding for smaller screens */
    font-size: 18px; /* Adjust button font size for smaller screens */
  }
}

.carousel .background.a {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/Company Image.PNG");
}

.carousel .background.b {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/awads/NATION AWARD SIR PHOTO (1).JPG");
}

.carousel .background.c {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/clients/Team-Vikarsh-1024x512.jpg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.covertext {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}


.covertext {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

/* Adjust covertext for smaller screens */
@media (max-width: 767px) {
  .covertext {
    top: 100px; /* Adjust the distance from the top for smaller screens */
  }
}

.title {
  font-family: Verdana;
  font-weight: 600;
  color: #50d4ac;
  font-size: 34px;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #ff4000;
  border-color: #ff4000;
  color: #ffffff;
}

.btn,
.btn:hover {
  border-radius: 0;
  background-image: none;
  background-color: #ff4000;
  border-color: #ff4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}
/* .body-container {
  position: relative;
  background: black;
  overflow-y: none;
}
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  opacity: 0.6;
}
.banner-image {
  width: 100%;
  height: 500px;
}

.banner-text h2 {
  position: absolute;
  text-align: center;
  top: 44%;
  left: 36rem;
  font-size: 34px;
  color: white;
  text-align: center;
  display: block;
} */
/* .banner-text h1{
  font-size: 30px;
  font-weight: bold;
} */
/* @media only screen and (max-width: 480px) and (max-width: 1280px) {
  .body-container {
    position: relative;
  }
  .banner {
    width: 100%;
    height: 500px;
  }
  .banner-image {
    background-position: center;
  }
  .banner-text h2 {
    position: absolute;
    margin-top: 26px;
    left: 60px;
    font-size: 15px;
    color: white;
    text-align: center;
    display: block;
    font-weight: bold;
  }
} */

/* about us */
/* Add or update the following styles in your CSS */

.about-me-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #101111;
  font-weight: 700;
}

.about-me {
  background-color: #f3f4f6;
  padding: 50px 0; /* Adjust the padding as needed */
}

.about-me-container {
  text-align: center;
}

.about-me-flex-container {
  display: flex;
  flex-direction: column-reverse; /* Adjust the flex direction as needed */
}

.about-me-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.about-me-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.about-me-content {
  text-align: justify;
}

.about-me-content .text {
  color: #0d0d0e;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.about-us-btn {
  display: inline-block;

  background: linear-gradient(-45deg, #50d4ac, #070707);
  color: #fff;
  text-decoration: none;
  border-radius: 10px 10px;
  transition: background-color 0.3s ease;
}

.about-us-btn:hover {
  background-color: #404457;
}

@media (max-width: 767px) {
  .about-me-flex-container {
    flex-direction: column;
  }

  .about-me-image {
    max-width: 100%;
  }
}
