<section class="gallery-section wow fadeInUp animated" id="gallery1" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
<div class="container-fluid">
  <div class="container">
    <div class="jumbotron" id="top">
      <h1>
        <i class="fa fa-camera-retro" aria-hidden="true"></i> Image Gallery
      </h1>
    
    </div>
    <div class="row flex">
      <!-- Amanda Sandlin // https://unsplash.com/@amanda_sandlin -->
      <!-- IMG 1 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail" (click)="toggleZoom()">
          <a target="_parent" class="img-fluid" href="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG">
            <figure class="image-box">
              
              <img src="../../assets/awads/NATION AWARD SIR PHOTO (1).JPG" class="image" title="Click to enlarge" />
              
            </figure>
            </a>
          <div class="container-caption">
           
          </div>
          <!-- <img src="https://source.unsplash.com/jIdKrtJF8Uk"> -->
        </div>
      </div>
      <!-- adrian // https://unsplash.com/@aows -->
      <!-- IMG 2 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/certificate/best-product-award-2023-500x500.jpg">
            <figure class="image-box"><img
              src="../../assets/certificate/best-product-award-2023-500x500.jpg" class="image"
              title="Click to enlarge" /></figure></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 3 -->
      <div class="col-md-4 col-sm-4">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/photo-copy-250x250.webp"> <figure class="image-box"><img
              src="../../assets/photo-copy-250x250.webp" class="image" title="Click to enlarge" /></figure></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 4 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/Company Image.PNG"> <figure class="image-box"><img
              src="../../assets/Company Image.PNG" class="image" title="Click to enlarge" /></figure></a>
          <div class="container-caption">
           
          </div>
        </div>
      </div>
      <!-- IMG 5 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/logo main/logomain.jpg"> <figure class="image-box"><img
              src="../../assets/logo main/logomain.jpg" class="image" title="Click to enlarge" /></figure></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 6 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/Nano Crystalline/fg-polyester-tape-500x500.jpg"><figure class="image-box"><img
              src="../../assets/Nano Crystalline/fg-polyester-tape-500x500.jpg" class="image"
              title="Click to enlarge" /></figure></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 7 -->
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="../../assets/clients/Team-Vikarsh-1024x512.jpg "><img
              src="../../assets/clients/Team-Vikarsh-1024x512.jpg" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div>
      <!-- IMG 8 -->
      <!-- <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" href=""><img src="" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div> -->
      <!-- IMG 9 -->
      <!-- <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <a target="_blank" class="img-fluid" href="https://source.unsplash.com/SG277nmHrQo"><img
              src="https://source.unsplash.com/SG277nmHrQo" class="image" title="Click to enlarge" /></a>
          <div class="container-caption">
            
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>



  <br>
  <div class="container">
      <div class="row masonry-container justify-content-center clearfix">
          <!--Portofolio Item Two-->
          <div class="portfolio-item-two text-center masonry-item col-md-6 col-sm-12 col-md-offset-2">
              <div class="inner-box">
                  <a href="assets/img/gallery/1.jpeg">
                      <figure class="image-box"><img src="assets/img/gallery/1.jpeg" alt=""></figure>
                  </a>

                  <!-- <div class="overlay-box">
                      <div class="content">
                          <a href="assets/img/certificate.png" class="lightbox-image"
                              title="ISO 9001-2015" data-fancybox-group="example-gallery"><span
                                  class="icon fa fa-plus"></span></a>
                          <h3><a href="#">ISO 9001-2015</a></h3>
                      </div>
                  </div> -->
              </div>
          </div>
          <div class="portfolio-item-two text-center masonry-item col-md-6 col-sm-12 col-md-offset-2">
              <div class="inner-box">
                  <a href="assets/img/national-award.jpg">
                      <figure class="image-box"><img src="assets/img/national-award.jpg" alt=""></figure>
                  </a>

                  <!-- <div class="overlay-box">
                      <div class="content">
                          <a href="assets/img/certificate.png" class="lightbox-image"
                              title="ISO 9001-2015" data-fancybox-group="example-gallery"><span
                                  class="icon fa fa-plus"></span></a>
                          <h3><a href="#">ISO 9001-2015</a></h3>
                      </div>
                  </div> -->
              </div>
          </div>



      </div>


  </div>
</section>