<section class="wrapper">
  <div class="container-fostrap">
    <div>
      <h1 class="heading">Product Details</h1>
    </div>
    <div class="content">
      <div class="container">
<div class="row-to-hide-overflow">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img
                    src="../../assets/Nano Crystalline/rb-l9590a-500x500.jpg"
                  />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a> Nano Crystalline Ribbon </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../assets/Amorphous.jpg" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a> Amorphous Ribbon </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../assets/HMA_ALL_SHAPE_CORES_IMAGE.jpg" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a>High Metering Accuracy (HMA) CORES </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../assets/WELDING_TRANSFORMER_IMAGE.jpg" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a>Welding Transformer cores </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../assets/NANO_CUT_CORE___BLOCKS_IMAGE.jpg" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a>Nano crystalline Blocks and Cut Core </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <a class="img-card">
                  <img src="../../assets/NANO_COPPER_WOUND_CORE_IMAGE.jpg" />
                </a>
                <div class="card-content">
                  <h4 class="card-title">
                    <a>Nano crystalline copper wound core </a>
                  </h4>
                </div>
                <div class="card-read-more">
                  <a class="btn btn-link btn-block"> Read More </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
